## Here We will try to merge all data pipelines and try to create a master dataframe, I mean this is the plan let's see where it goes ðŸ˜…

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# testing the changes in the frame extration script
import sys
from pathlib import Path

current_dir = Path.cwd()
project_root = current_dir.parent
if str(project_root) not in sys.path:
    sys.path.insert(0, str(project_root))
    print("ho gaya")

ho gaya

In [3]:
# defining paths
VIDEOPATH = project_root / "data" / "raw" / "Interview_2.mp4"
OUTPUTPATH = project_root / "data" / "processed" / "Interview_2_frames" / "frames"
MODELPATH = project_root / "models" / "face_landmarker.task"

In [4]:
# from src.video.frame_extractor import extract_frames
# from src.video.face_features_ts_data import face_analysis_data

In [5]:
# extract_frames(video_path=str(VIDEOPATH), output_path=str(OUTPUTPATH), nof_ps=2)

In [6]:
# fa_data = face_analysis_data(model_path=str(MODELPATH), images_path=str(OUTPUTPATH))

In [7]:
fa_data = pd.read_csv(str(project_root / "data" / "processed" / "Interview_2_frames" / "data" / "visual_data.csv"))
fa_data.head()

,Time,h_ratio,v_ratio,_neutral,browDownLeft,browDownRight,browInnerUp,browOuterUpLeft,browOuterUpRight,cheekPuff,...,mouthShrugLower,mouthShrugUpper,mouthSmileLeft,mouthSmileRight,mouthStretchLeft,mouthStretchRight,mouthUpperUpLeft,mouthUpperUpRight,noseSneerLeft,noseSneerRight
0,0.0,0.463844,0.012997,3.112116e-06,0.015592,0.025971,0.023290,0.123947,0.063837,0.000056,...,0.177659,0.007289,0.000375,0.000198,0.000144,0.000443,0.000025,0.000022,4.540787e-07,4.185384e-07
1,0.5,0.418074,-0.048988,2.558370e-06,0.017408,0.037184,0.007811,0.137800,0.031154,0.000021,...,0.431183,0.019506,0.000308,0.000286,0.000198,0.000918,0.000023,0.000030,2.511999e-07,3.643879e-07
2,1.0,0.465044,-0.030748,3.958608e-07,0.008864,0.010406,0.016732,0.179330,0.108023,0.000003,...,0.083268,0.029491,0.000104,0.000074,0.000128,0.000332,0.000189,0.000269,2.899701e-06,1.134860e-07
3,1.5,0.505119,-0.055033,3.260218e-07,0.012983,0.016629,0.008106,0.186212,0.116366,0.000003,...,0.058299,0.018650,0.000008,0.000005,0.000032,0.000170,0.000070,0.000103,2.350217e-06,9.529118e-08
4,2.0,0.590369,-0.050514,5.068692e-07,0.016363,0.028436,0.006705,0.117622,0.104900,0.000002,...,0.073318,0.056317,0.000066,0.000058,0.000091,0.001666,0.000455,0.000476,4.304491e-06,2.317813e-07

In [8]:
# for column in list(fa_data.columns):
#     if len(list(fa_data.isna()[column].unique())) > 1:
#         print("milgaya")

In [9]:
# save_path = OUTPUTPATH.parent / "data" / "visual_data.csv"
# save_path

In [10]:
# fa_data.to_csv(str(save_path), index=False)

## Loading all the data

In [11]:
# Visual data
fa_data.head()

,Time,h_ratio,v_ratio,_neutral,browDownLeft,browDownRight,browInnerUp,browOuterUpLeft,browOuterUpRight,cheekPuff,...,mouthShrugLower,mouthShrugUpper,mouthSmileLeft,mouthSmileRight,mouthStretchLeft,mouthStretchRight,mouthUpperUpLeft,mouthUpperUpRight,noseSneerLeft,noseSneerRight
0,0.0,0.463844,0.012997,3.112116e-06,0.015592,0.025971,0.023290,0.123947,0.063837,0.000056,...,0.177659,0.007289,0.000375,0.000198,0.000144,0.000443,0.000025,0.000022,4.540787e-07,4.185384e-07
1,0.5,0.418074,-0.048988,2.558370e-06,0.017408,0.037184,0.007811,0.137800,0.031154,0.000021,...,0.431183,0.019506,0.000308,0.000286,0.000198,0.000918,0.000023,0.000030,2.511999e-07,3.643879e-07
2,1.0,0.465044,-0.030748,3.958608e-07,0.008864,0.010406,0.016732,0.179330,0.108023,0.000003,...,0.083268,0.029491,0.000104,0.000074,0.000128,0.000332,0.000189,0.000269,2.899701e-06,1.134860e-07
3,1.5,0.505119,-0.055033,3.260218e-07,0.012983,0.016629,0.008106,0.186212,0.116366,0.000003,...,0.058299,0.018650,0.000008,0.000005,0.000032,0.000170,0.000070,0.000103,2.350217e-06,9.529118e-08
4,2.0,0.590369,-0.050514,5.068692e-07,0.016363,0.028436,0.006705,0.117622,0.104900,0.000002,...,0.073318,0.056317,0.000066,0.000058,0.000091,0.001666,0.000455,0.000476,4.304491e-06,2.317813e-07

In [12]:
# Audio data 1
path = project_root / "data" / "processed" / "technical_data" / "Interview_2.csv"
at_data = pd.read_csv(path)
at_data.head()

,Time,audio_rms(volumn),audio_pitch_avg,audio_pitch_var(expressiveness),is_silent
0,0.0,0.0373,0.00,0.00,False
1,0.5,0.0533,169.25,11.45,False
2,1.0,0.0006,0.00,0.00,True
3,1.5,0.0593,179.94,14.03,False
4,2.0,0.0646,237.84,56.17,False

In [13]:
# Audio data 2
path = project_root / "data" / "processed" / "utterances_data" / "Interview_2.csv"
au_data = pd.read_csv(path)
au_data.head()

,text,start,end,confidence,speaker,channel,words,translated_texts
0,"Alright, we're starting now, so welcome to the...",80,9680,0.988734,A,NaN,"[UtteranceWord(text='Alright,', start=80, end=...",NaN
1,"Yeah, so like right now I'm in third year of m...",11040,136520,0.975275,B,NaN,"[UtteranceWord(text='Yeah,', start=11040, end=...",NaN
2,That's a great background and it's always awes...,139650,162370,0.977510,A,NaN,"[UtteranceWord(text=""That's"", start=139650, en...",NaN
3,"Yeah, so handling or cleaning the data set is ...",163490,217580,0.963769,B,NaN,"[UtteranceWord(text='Yeah,', start=163490, end...",NaN
4,Those are not always the right choices.,219100,221900,0.998930,B,NaN,"[UtteranceWord(text='Those', start=219100, end...",NaN

In [19]:
# Audio data 3 
path = project_root / "data" / "processed" / "whisper_data" / "Interview_2.csv"
aw_data = pd.read_csv(path)
aw_data.drop(columns=["Unnamed: 0"], inplace=True)
aw_data.head()

,id,seek,start,end,text,tokens,temperature,avg_logprob,compression_ratio,no_speech_prob,confidence,words
0,0,0,0.00,5.69,We're starting now. So welcome to the intervi...,"[50364, 492, 434, 2891, 586, 13, 407, 2928, 28...",0.0,-0.149370,1.573222,0.105431,0.837,"[{'text': ""We're"", 'start': np.float64(0.0), '..."
1,1,0,5.69,9.36,me a little bit about your background and wha...,"[50648, 385, 257, 707, 857, 466, 428, 3678, 29...",0.0,-0.149370,1.573222,0.105431,0.973,"[{'text': 'me', 'start': np.float64(5.69), 'en..."
2,2,0,11.18,18.06,"Yeah, so right now I'm in third year of my co...","[50916, 865, 11, 370, 558, 586, 286, 478, 294,...",0.0,-0.149370,1.573222,0.105431,0.887,"[{'text': 'Yeah,', 'start': np.float64(11.18),..."
3,3,0,18.76,25.44,"but yeah, from the start of my college, I thi...","[51304, 457, 1338, 11, 490, 264, 722, 295, 452...",0.0,-0.149370,1.573222,0.105431,0.906,"[{'text': 'but', 'start': np.float64(18.76), '..."
4,4,2584,25.94,33.45,I got interested in like machine learning. I ...,"[50364, 286, 658, 3102, 294, 411, 3479, 2539, ...",0.0,-0.120762,1.753488,0.026963,0.885,"[{'text': 'I', 'start': np.float64(25.94), 'en..."

### Working on Visual data

In [21]:
fa_data.columns

Index(['Time', 'h_ratio', 'v_ratio', '_neutral', 'browDownLeft',
       'browDownRight', 'browInnerUp', 'browOuterUpLeft', 'browOuterUpRight',
       'cheekPuff', 'cheekSquintLeft', 'cheekSquintRight', 'eyeBlinkLeft',
       'eyeBlinkRight', 'eyeLookDownLeft', 'eyeLookDownRight', 'eyeLookInLeft',
       'eyeLookInRight', 'eyeLookOutLeft', 'eyeLookOutRight', 'eyeLookUpLeft',
       'eyeLookUpRight', 'eyeSquintLeft', 'eyeSquintRight', 'eyeWideLeft',
       'eyeWideRight', 'jawForward', 'jawLeft', 'jawOpen', 'jawRight',
       'mouthClose', 'mouthDimpleLeft', 'mouthDimpleRight', 'mouthFrownLeft',
       'mouthFrownRight', 'mouthFunnel', 'mouthLeft', 'mouthLowerDownLeft',
       'mouthLowerDownRight', 'mouthPressLeft', 'mouthPressRight',
       'mouthPucker', 'mouthRight', 'mouthRollLower', 'mouthRollUpper',
       'mouthShrugLower', 'mouthShrugUpper', 'mouthSmileLeft',
       'mouthSmileRight', 'mouthStretchLeft', 'mouthStretchRight',
       'mouthUpperUpLeft', 'mouthUpperUpRight', 'noseSneerLeft',
       'noseSneerRight'],
      dtype='object')