In [1]:
import pandas as pd

In [3]:
row1 = {
    'Time': 0.5,
    'h_ratio': None,
    'v_ratio': None,
}

row2 = {
    'Time': 0.5,
    'h_ratio': 4.5,
    'v_ratio': 7.8,
    'face_or': 6.7,
    'name' : "adi"
}

row3 = {
    'Time': 5.0,
    'h_ratio': 9.0,
}

data = [row1, row2, row3]

In [4]:
pd.DataFrame(data)

   Time  h_ratio  v_ratio  face_or name
0   0.5      NaN      NaN      NaN  NaN
1   0.5      4.5      7.8      6.7  adi
2   5.0      9.0      NaN      NaN  NaN